# Supabase PostgreSQL
DATABASE_URL="postgresql://postgres.[ref]:[password]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[ref]:[password]@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"

# Supabase Client
NEXT_PUBLIC_SUPABASE_URL="https://uxldgqenzwhruuwdjsip.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="sua-service-role-key-aqui"

# NextAuth
NEXTAUTH_SECRET="gere-uma-chave-secreta-aqui-com-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# MercadoPago (opcional)
MERCADOPAGO_ACCESS_TOKEN="sua-chave-do-mercado-pago"
MERCADOPAGO_PUBLIC_KEY="sua-chave-publica-do-mercado-pago"
